.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .show>.nav-link {
  color: white;
}

.dropdown a:hover {
  color: #debc65 !important;
}

.dropdown a:focus {
  color: #debc65 !important;
}

.dropdown-toggle::after {
  vertical-align: 0% !important;
}

a {
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
}

label {
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  margin-bottom: 0;
}

hr {
  margin-top: 0;
}

.title {
  color: #899ed6;
  font-size: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
}

.complaintLabel {
  font-weight: bold;
  font-size: 32px;
}

.centerBottom {
  background: #ffffff;
  border-radius: 10px;
  height: 330px;
  margin: 5px;
  padding: 5px 10px 5px 0;
}

.centerDiv {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.legendPieChart {
  width: 12px;
  height: 12px;
  border-radius: 16px;
  margin: auto;
  margin-right: 5px;
}

.legendItem {
  display: flex;
  margin: 5px;
}

.pieChartTitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #313131;
}

.footerLabel {
  color: #9b9c9f;
}

.bookingLabel {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #9b9c9f;
}

#phoneCurveAbove {
  width: 20px;
  height: 10px;
  border-top-left-radius: 50px;
  background-color: #debc65;
  margin-left: 5px;
}

#phoneCurveBelow {
  border-bottom: solid 64px #debc65;
  border-left: solid 15px transparent;
  border-right: solid 20px #debc65;
  margin-left: -10px;
}

.phoneNumber {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 0;
}

.phoneLabel {
  font-size: 12px;
  color: #ffffff;
  margin-bottom: 0;
}

.phoneBlock {
  text-align: left;
  width: 150px;
  padding-left: 15px;
}

select {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140.62%;
  color: #313131;
}

#rightMain {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(206, 213, 225, 0.2);
  border-radius: 10px;
}

.calendarDate {
  text-align: center;
  max-width: 120px;
  width: 33%;
}

.vectorDate {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: #edf3fb;
  display: flex;
}

#dateEvent {
  display: flex;
  border-radius: 6px;
  background: #ffffff;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
  width: 240px;
  margin: auto;
  justify-content: space-around;
  height: 30px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #225dc0;
}

.numberEvent {
  color: #b7b7b7;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
}

.contentEventItem {
  width: 100%;
  border-radius: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.contentEventLabel {
  padding-left: 10px;
  margin-bottom: 0;
  height: 28px;
}

.weekEventItem {
  height: 30px;
  width: 390px;
  border-radius: 0 10px 10px 0;
}

.dayOfWeekEvent {
  margin-bottom: 0;
  color: #b7b7b7;
}

.eventItemWeek {
  display: flex;
  margin-bottom: 10px;
  height: 30px;
  max-width: 360px;
  margin-left: 15px;
  border-radius: 0 10px 10px 0;
}

.eventItemWeekLine {
  height: 30px;
  width: 2px;
  margin-right: 5px;
}

.eventItemLineNone {
  height: 60px;
  width: 1px;
  background: #eaeef6;
  margin: 20px 0 20px 15px;
}

.separateEventItem {
  margin-left: 10px;
  max-width: 410px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.eventItemWeekDay {
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.eventItemContent {
  overflow: hidden;
  height: 30px;
  padding: 5px;
  text-align: left;
  max-width: 350px;
}

.overflowEventItem {
  color: #225DC0;
  margin-left: 20px;
  text-align: left;
}

.numberBookingLabel {
  font-weight: 500;
}

.contentTab {
  height: 590px;
  padding: 15px 5px 5px 5px;
  overflow: auto;
}

#appLabel {
  display: flex;
  border-radius: 10px;
  background: #FFFFFF;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.rightContent {
  height: 632px;
}

.complaintStatus {
  display: flex;
  justify-content: center
}

.col-2 {
  padding-right: 0;
}

#left {
  padding: 5;
  height: 100%;
}

.selectedList {
  width: 100%; 
  border-radius: 10px;
  background: #FFFFFF;
  padding: 5px;
  border: transparent;
  height: 35px;
}

#status .container {
  padding-left: 5px;
  padding-right: 5px;
}

.nav-item:hover .dropdown-menu{
  display:block!important
}